
<ion-content>
  <div id="home-heading">
    <div>
      <h1 id="home-title">Surabaya<strong>FYI.</strong></h1>
      <p id="home-subtitle">Get real-time condition<br>updates in Surabaya.</p>
    </div>
    <div>
      <ion-toggle color="success"></ion-toggle>
    </div>
  </div>
  
  <div class="home-section" id="home-clock">
    <div>
      <h2 class="home-section-title">Clock</h2>
      <p class="home-section-subtitle">Current Time in Realtime</p>
      <p class="home-section-data">08:00:24</p>
    </div>
    <div>
      <img class="home-section-icon" src="assets/ic-clock.png" alt="Clock">
    </div>
  </div>
  <!-- Jl. Klampis Semolo Tengah I Blok F No.22 -->
  <div class="home-section" id="home-temperature">
    <div>
      <h2 class="home-section-title">Temperature</h2>
      <p class="home-section-subtitle">Tue, 19 Nov 2019</p>
      <p class="home-section-data"><span class="text-big">39</span><small>Celcius</small></p>
    </div>
    <div>
      <img class="home-section-icon" src="assets/ic-sun.png" alt="Clock">
    </div>
  </div>
  <div class="home-section" id="home-traffic">
    <div>
      <h2 class="home-section-title">Traffic Load</h2>
      <p class="home-section-subtitle">Traffic Load Score</p>
      <p class="home-section-data"><span class="text-big">92/100</span></p>
    </div>
    <div>
      <img class="home-section-icon" src="assets/ic-traffic.png" alt="Clock">
    </div>
  </div>
</ion-content>